@import "../../scss/varuables.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.button {
	display: inline-block;
	border: none;
	color: #fff;
	background: linear-gradient(to right, #ff003f, #fa3463, #fa3463);
	background: #F1053D;
	box-shadow: 0 0 15px #f0063de1;
	padding: 25px 50px;
	border-radius: 15px;
	font-family: "Aclonica", sans-serif;
	cursor: pointer;
	border: 3px solid #ff00;
	transition: 1s;
	&:hover {
		// background: linear-gradient(to right, #ff003f, #ff003f, #ff003f);
		// transform: scale(1.02);
		background: #ff00;
		border: 3px solid #f4013d;
		// box-shadow: 0 0 10px #f4013ec6;
	}
}

@media (max-width: $xs) {
	.button {
		padding: 0.7% 2.5%;
		font-size: 0.9rem;
	}
}
