@import "../../scss/varuables.scss";

.categories {
	position: relative;
	z-index: 123;
	margin: 0 7%;
	padding: 5% 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 20px;
	background: linear-gradient(#c1343424, #5029291f);
	a {
		width: 20%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		&:hover {
			img {
				transform: perspective(200px) rotateY(-180deg);
			}
		}
		img {
			border-radius: 50%;
			transition: 1s;
			// &:hover {
			// 	transform: perspective(200px) rotateY(-180deg);
			// }
		}
		p {
			font-size: 20px;
			text-align: center;
		}
	}
}
@media (min-width: $xxl) {
	.categories {
		
		position: relative;
		z-index: 123;
		margin: 0 7%;
		padding: 5% 7%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 20px;
		background: linear-gradient(#c1343424, #5029291f);
		a {
			width: 20%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			&:hover {
				img {
					transform: perspective(200px) rotateY(-180deg);
				}
			}
			img {
				border-radius: 50%;
				transition: 1s;
				// &:hover {
				// 	transform: perspective(200px) rotateY(-180deg);
				// }
			}
			p {
				font-size: 30px;
				text-align: center;
			}
		}
	}
}
@media (max-width: $xl) {
	.categories {
		a {
			width: 24%;
			p {
				font-size: 16px;
			}
		}
	}
}
@media (max-width: $md) {
	.categories {
		
		a {
		
			width: 24%;
			img {
				width: 80%;
			}
			p {
				font-size: 13px;
			}
		}
	}
}
@media (max-width: $sm) {
	.categories {
		flex-wrap: wrap;
		a {
			margin-bottom: 30px;
			padding: 2%;
			width: 40%;
			img {
				width: 80%;
				&:hover {
					transform: perspective(100px) rotateY(-180deg);
				}
				margin-bottom: 5%;
			}
			p {
				font-size: 14px;
			}
		}
	}
}
