@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Marko+One&family=Playfair+Display:wght@600;700;800&family=Yatra+One&display=swap");
@import "../../scss/varuables.scss";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.sectionSlides {
	min-height: 10vh;
	place-items: center;
	position: relative;
	margin-top: 5%;
	padding: 0 7%;
	.slider {
		margin: auto;
		position: relative;
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		h2 {
			align-self: flex-start;
			font-family: monospace;
			font-family: emoji;
			font-weight: 400;
			font-size: 50px;
			margin: 2.5rem 0;
		}
		.slide_track {
			height: 100%;
			display: flex;
			width: calc(500px * 18);
			animation: scroll 40s linear infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
		.slide {
			border: 2px solid #ed033a;
			margin-right: 15px;
			width: 400px;
			padding: 20px;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			&:hover {
				box-shadow: 0 0 15px #ed033a58;
				transform: scale(1.01);
			}
			img {
				width: 100%;
			}
			.titlesDiv {
				display: flex;
				align-items: center;
				justify-content: space-between;

				h5 {
					width: 50%;
				}
				p {
					width: auto;
					text-align: center;
					font-family: "Marko One", serif;
				}
			}
			p {
			}
			.arrowDiv {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				a {
					justify-self: flex-end;
					display: inline-block;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					background: #f1063e;
					position: relative;
					&:hover {
						transform: perspective(100px) rotateX(-180deg);
					}
					span {
						color: #fff;
						position: absolute;
						top: -8px;
						right: 6px;
						font-size: 3rem;
						font-weight: 100;
					}
				}
			}
		}
		button {
			margin: 2rem auto;
		}
	}
}
@media (min-width: $xxl) {
	.sectionSlides {
		min-height: 10vh;
		place-items: center;
		position: relative;
		margin-top: 5%;
		padding: 0 7%;
		.slider {
			margin: auto;
			position: relative;
			width: 100%;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			align-items: center;
			h2 {
				align-self: flex-start;
				font-family: monospace;
				font-family: emoji;
				font-weight: 400;
				font-size: 80px;
				margin: 2.5rem 0;
			}
			.slide_track {
				height: 100%;
				display: flex;
				width: calc(600px * 18);
				animation: scroll 40s linear infinite;
				&:hover {
					animation-play-state: paused;
				}
			}
			.slide {
				border: 2px solid #ed033a;
				margin-right: 15px;
				width: 600px;
				padding: 20px;
				border-radius: 20px;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				&:hover {
					box-shadow: 0 0 15px #ed033a58;
					transform: scale(1.01);
				}
				img {
					width: 100%;
				}
				.titlesDiv {
					display: flex;
					align-items: center;
					justify-content: space-between;

					h5 {
						width: 50%;
					}
					p {
						width: auto;
						text-align: center;
						font-family: "Marko One", serif;
					}
				}
				p {
				}
				.arrowDiv {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					a {
						justify-self: flex-end;
						display: inline-block;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						background: #f1063e;
						position: relative;
						&:hover {
							transform: perspective(100px) rotateX(-180deg);
						}
						span {
							color: #fff;
							position: absolute;
							top: -8px;
							right: 6px;
							font-size: 3rem;
							font-weight: 100;
						}
					}
				}
			}
			button {
				margin: 3rem auto;
				font-size: 25px;
			}
		}
	}
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-300px * 9));
	}
}
