@import "../../scss/varuables.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.mentorsss {
	margin-top: 40vh !important;
}
.mentors {
	background: #000;
	margin-top: 50vh;
	.nav {
		&__elements {
			&-linksDiv {
				&-ul {
					&-mentors {
						&:hover {
						}
						a {
							color: #f3023e;
							span {
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}
	.page__title {
		position: absolute;
		left: 37%;
		top: 40vh;
		overflow: hidden;
		padding: 2% 0 2% 0;
		font-family: $font_titles;
		font-size: 3em;
		width: 26%;
		text-align: center;
		color: #fff;
		font-weight: 500;
		text-shadow: 0 2px 3px #fff;
		z-index: 12;
		border-radius: $br_r_5;
		text-transform: capitalize;
	}
	.wrapper {
		padding: 2% 0 5% 0;
		h2 {
			display: none;
		}
	}
}
@media (min-width: $xxl) {
	.mentorsImages {
		margin-top: 5vh;
	}
	.mentorsNumbers {
		width: 70vw !important;
	}
}
@media (min-width: 1500px) {
	.mentorsImages {
		margin-top: 5vh;
	}
	.mentorsNumbers {
		width: 70vw !important;
	}
}
@media (max-width: $xl) {
	.services {
		.page__title {
			left: 35%;
			top: 32vh;
			padding: 1% 0 2% 0;
			font-size: 2.9em;
			width: 30%;
		}
	}
}

@media (max-width: $lg) {
	.services {
		.page__title {
			left: 31%;
			top: 34vh;
			padding: 0% 0 1% 0;
			font-size: 2.6em;
			width: 38%;
		}
	}
}

@media (max-width: $md) {
	.services {
		.page__title {
			left: 28%;
			top: 35vh;
			font-size: 2.4em;
			width: 44%;
		}
	}
}

@media (max-width: $sm) {
	.services {
		.page__title {
			left: 26%;
			top: 36vh;
			font-size: 1.8em;
			width: 48%;
		}
	}
}

@media (max-width: $xs) {
	.services {
		.page__title {
			left: 20%;
			top: 37vh;
			font-size: 1.3em;
			width: 60%;
			padding: 0 1%;
		}
	}
}
