@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Allerta+Stencil&family=Marko+One&family=Playfair+Display:wght@600;700;800&family=Rozha+One&family=Yatra+One&display=swap");
@import url("../../scss/varuables.scss");
// font-family: 'Allerta Stencil', sans-serif;

.newsDiv {
	padding: 3% 4% 10% 4%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	h2 {
		margin: 2rem 0;
		font-family: emoji;
		font-size: 50px;
	}
	&__cols {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__col {
			width: 43%;
			position: relative;
			&-img1 {
				width: 100%;
			}
			&-img2 {
				width: 90%;

				position: absolute;
				top: 50%;
				right: -20%;
			}
			&-p {
				font-size: 23px;
				line-height: 30px;
			}
		}
	}
}
@media (max-width: 1200px) {
	.newsDiv {
		padding: 3% 4% 10% 4%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		h2 {
			margin: 2rem 0;
			font-family: emoji;
			font-size: 40px;
		}
		&__cols {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			&__col {
				width: 44%;
				position: relative;
				&-img1 {
					width: 100%;
				}
				&-img2 {
					width: 90%;

					position: absolute;
					top: 50%;
					right: -20%;
				}
				&-p {
					font-size: 15px;
					line-height: 30px;
				}
			}
		}
	}
}
@media (max-width: 765px) {
	.newsDiv {
		padding: 3% 4% 10% 4%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		h2 {
			margin: 2rem 0;
			font-family: emoji;
			font-size: 40px;
		}
		&__cols {
			width: 100%;
			flex-wrap: wrap;
			gap: 5rem;
			&__col {
				width: 100%;
				position: relative;
				&-img1 {
					width: 100%;
				}
				&-img2 {
					width: 80%;

					position: absolute;
					top: 50%;
					right: 0%;
				}
				&-p {
					font-size: 18px;
					line-height: 30px;
				}
			}
		}
	}
}
